<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<h1>Categories</h1>

<ul>
    <% categories.forEach(category => { %>

        <li>
            <a href="/categories/<%= category.id %>">
    <%= category.name %>
</a>
            <%= category.description %>
        </li>

        <br>

    <% }) %>
</ul>

<a href="/">← Home</a>

</body>
</html>