<!DOCTYPE html>
<html>
<head>
    <title>Inventory App</title>
</head>
<body>

    <h1>Inventory Management System</h1>

    <ul>
        <li><a href="/categories">View Categories</a></li>
        <li><a href="/items">View Items</a></li>
        <ul>
     <li><a href="/categories">View Categories</a></li>
    <li><a href="/categories/new">Add Category</a></li>

    <li><a href="/items">View Items</a></li>
    <li><a href="/items/new">Add Item</a></li>
</ul>
    </ul>

</body>
</html>