<!DOCTYPE html>
<html>
<head>
    <title>Inventory App</title>
</head>
<body>

    <h1>Inventory Management System</h1>

    <ul>
        <li><a href="/categories">View Categories</a></li>
        <li><a href="/items">View Items</a></li>
    </ul>

</body>
</html>